*{
    /* background-color: blue; */
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ul>li{
    /* color: white; */
    font-style: italic;
    font-weight: bold;
}

h1{
    color:red;
}